body{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
/* cyrillic-ext */
@font-face {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 300;
}
/* cyrillic */
@font-face {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 300;
}
/* greek-ext */
@font-face {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 300;
}
/* greek */
@font-face {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 300;
}
/* vietnamese */
@font-face {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 300;
}
/* latin-ext */
@font-face {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 300;
}
/* latin */
@font-face {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 300;
}
/* cyrillic-ext */
@font-face {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 400;
}
/* cyrillic */
@font-face {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 400;
}
/* greek-ext */
@font-face {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 400;
}
/* greek */
@font-face {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 400;
}
/* vietnamese */
@font-face {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 400;
}
/* latin-ext */
@font-face {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 400;
}
/* latin */
@font-face {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 400;
}