
@import url(http:fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url(http:fonts.googleapis.com/css?family=Oswald:400,300);


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: #f7f7f7;
    font-size: 13px;
}

a:hover {
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}



/**** Social Color ****/

.facebook {
    background: #3B5998;
    border: 1px solid #3B5998;
}

.twitter {
    background: #00A0D1;
    border: 1px solid #00A0D1;
}

.linkedin {
    background: #4875B4;
    border: 1px solid #4875B4;
}

.flickr {
    background: #FE0883;
    border: 1px solid #FE0883;
}

.pinterest {
    background: #910101;
    border: 1px solid #910101;
}

.instagram {
    background: #4E433C;
    border: 1px solid #4E433C;
}

.tumblr {
    background: #34526F;
    border: 1px solid #34526F;
}

.rss {
    background: #FA9B39;
    border: 1px solid #FA9B39;
}

.google-plus {
    background: #C63D2D;
    border: 1px solid #C63D2D;
}


/**** Button ****/

.btn-primary {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border-radius: 0;
    margin-right: 15px;
    color: #fff !important;
    text-shadow: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-primary:hover {
    background: none;
    border: 1px solid #333;
    color: #333 !important;
}


/**** Start Section Title Section ****/

h3.section-title {
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 22px;
}



/**** Start Header Section ****/

.header-section {
    padding: 40px 40px;
    background: url('../images/bgkota.png') #fff;
    border-top: 3px solid #ffcc00;
}

.header-section .logo a {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
}

.logo-img {
	margin: 0;
}


.top-info {
    margin-top: 25px;
    text-align: right;
}


.top-social li {
    display: inline-block;
    padding-left: 5px;
}

.top-social li a:hover {
    background: transparent;
    border: 1px solid #333;
    color: #333;
}


ul.top-social li a {
    display: inline-block;
    color: #fff;
    padding: 5px;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
}


ul.top-social li a i {
	font-size: 14px;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.top-phone {
    margin-top: 10px;
    font-size: 22px;
    color: #333;
}

.top-phone i {
    padding-right: 5px;
    color: #333;
}


.default-page {
    background: #fff;
    border: 1px solid #f1f1f1;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.default-page p {
    text-align: justify;
}


/**** Start Navigation Section ****/

.navbar {
	margin-bottom: 0;
	background: #ffcc00;
	border: none;
	border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.navbar .navbar-collapse {
    padding: 0;
}

.navbar-default .navbar-nav {
	margin-right: 10px!important;
	position: relative;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav > li {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-default .navbar-nav > li:first-child {
    padding-left: 0;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	display: block;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
	font-weight: 300;
	overflow: hidden;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav > li > a i {
	margin: 0 -2px 0 -5px;
}

.navbar-default .navbar-nav > li > a:after {
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	height: 5px;
	width: 5px;
	opacity: 0;
	margin: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;

}

.navbar-default .navbar-nav > li > a.active:after {
	opacity: 1;
}

.navbar-default .navbar-nav .dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 250px;
	background-color: #333;
    visibility: hidden;
    z-index: 2;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-nav > li.drop:hover .dropdown {
    visibility: visible;
	opacity: 1;
}

.dropdown li, 
.sup-dropdown li {
	position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.dropdown li:first-child, .sup-dropdown li:first-child {
    border-top: none;
}

.dropdown li a, 
.sup-dropdown li a {
    display: block;
    color: #aaa;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    padding: 12px 25px;
    border-bottom: 1px solid #444;
    text-decoration: none;
    transition: padding 0.2s ease-in-out;
    -moz-transition: padding 0.2s ease-in-out;
    -webkit-transition: padding 0.2s ease-in-out;
    -o-transition: padding 0.2s ease-in-out;
}


.dropdown > li:hover > a, .sup-dropdown li:hover > a {
	padding-left: 15px;
}

.dropdown li a i {
	margin: 0 0 0 -4px;
}

.navbar-default .navbar-nav .sup-dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    width: 180px;
	background-color: #fff;
    margin-top: 10px;
    transition: margin-top 0.2s ease-in-out;
    -moz-transition: margin-top 0.2s ease-in-out;
    -webkit-transition: margin-top 0.2s ease-in-out;
    -o-transition: margin-top 0.2s ease-in-out;
    visibility: hidden;
    z-index: 3;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-nav li.drop .dropdown li:hover .sup-dropdown {
    visibility: visible;
    margin-top: 0;
}


/* End Navigation Section */


/**** Start Main SLider Section ****/

.main-slider {
    background: #fff;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-slider img {
    width: 100%;
    height: auto;
}

.main-slider .carousel-caption {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 50%;
    text-align: left;
}

.main-slider .carousel-caption h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 20px;
    -webkit-animation: zoomIn;
    animation: zoomIn;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.main-slider .carousel-caption p {
    color: #fff;
    font-size: 15px;
    padding: 20px;
}

.main-slider .carousel-control {
    width: 5%;
}

.main-slider .carousel-control i {
    position: absolute;
    top: 50%;
    font-size: 50px;
}

.main-slider .carousel-indicators {
    bottom: 5px;
}

/**** Bootstrap Carousel ****/

.carousel-control {
    background: transparent !important;
}

.carousel-control:hover, 
.carousel-control:focus {
    background: transparent;
}


.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #FF432E;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

#products {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#products td, #products th {
    border: 1px solid #ddd;
    padding: 8px;
}

#products tr:nth-child(even){background-color: #f2f2f2;}

#products tr:hover {background-color: #ddd;}

#products th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffcc00;
    color: white;
}




/**** Start Service Section ****/

.services-section {
    padding-bottom: 0;
}

.service-details ul {
    padding-top: 8px;
}
.service-details li {
    padding-bottom: 8px;
}

.feature, .feature-2 {
    background: #fff;
    margin: 0;
    padding: 20px;
    border: 1px solid #f1f1f1;
}

.feature-2 {
    text-align: center;
}

.feature h4, .feature-2 h4{
    font-size: 20px;
    color: #444;
    padding-bottom: 10px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.feature p, .feature-2 p {
    color: #444;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}

.feature p {
    text-align: justify;
}

.feature i, .feature-2 i {
   font-size:40px;
   padding:1px 10px 0 1px;
   position: relative;
    width: 50px;
    height: 50px;
}


/**** Start Title Box ****/

.title-box {
    width: 500px;
    background: #222;
    color: #fff;
    margin: 0 auto;
    padding: 1px;
}

/**** End Title Box ****/



/**** Start About Us Section ****/


.home-about-us {
    background: #fff;
    border: 1px solid #f1f1f1;
    padding: 20px;
    margin-top: 30px;
}

.home-about-us img {
    padding-bottom: 20px;
}

.home-about-us p {
    text-align: justify;
}

.home-about-us li {
    padding-bottom: 5px;
}
.home-about-us li i {
    padding-right: 5px;
    color: #666;
}

.home-about-us a {
    margin-top: 10px;
}
.home-about-us a:hover {
    color: #333 !important;
}


/**** Start Running Project ****/

.running-project {
    background: #fff;
    padding: 25px 25px;
    border: 1px solid #f1f1f1;
    margin-top: 35px;
}

.project {
    margin-bottom: 30px;
}

.project-details strong {
    font-weight: 500;
}


.project .project-details {
    color: #fff;
    padding: 11px 15px;
}




/**** Start Featured Project Section ****/

.project-section {
    padding: 0 20px 20px 20px;
    background: #fff;
    border: 1px solid #f1f1f1;
    margin-top: 30px;
    margin-bottom: 30px;
}

.project-2-col, .project-3-col, .project-4-col {
    padding-top: 20px;
    margin-bottom: 30px;
}



#portfolio-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

#portfolio-list li {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 50%;
    margin-left: -4px;
    margin-bottom: -5px;
    padding: 0;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
@media only screen 
and (max-width : 550px) {
    
     #portfolio-list li {
      width: 100%;
  }
}

@media only screen 
and (max-width : 900px)
and (min-width : 551px){
    
     #portfolio-list li {
      width: 49.9%;
  }
}

@media (min-width: 901px) {
  #portfolio-list li {
      width: 33.47%;
  }

    .project-2-col #portfolio-list li {
        width: 49.9%;
    }
    
    .project-4-col #portfolio-list li {
        width: 25%;
    }
}


@media only screen 
and (max-width : 320px) {
    
    .portfolio-item p {
        font-size: 12px;
        margin: 10px 10px 15px 10px;
    }

    .portfolio-item h4 {
        font-size: 14px;
    }

    .portfolio-item a {
        display: none;
    }
    
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 321px) 
and (max-width : 480px) {
    
    .portfolio-item p {
        margin: 25px 25px 35px 25px;
    }

    .portfolio-item h4 {
        padding-top: 15px;
    }
    
    
}


@media only screen 
and (min-width : 481px) 
and (max-width : 600px) {
    
    .portfolio-item p {
        font-size: 12px;
        margin: 20px 10px 15px 10px;
    }

    .portfolio-item h4 {
        font-size: 14px;
        padding-top: 10px;
    }

    .portfolio-item a {
        display: none;
    }

}

@media only screen 
and (min-width : 601px) 
and (max-width : 768px) {
    
   .portfolio-item a {
        display: none;
    }

}


.portfolio-item h4 {
    color: #fff;
    padding-top: 5px;
}

.portfolio-item p {
	margin: 20px 20px 30px 20px;
	padding: 10px;
    color: #fff;
	border: 2px solid #fff;
	text-transform: none;
	font-size: 15px;
}

.portfolio-item a {
    background: transparent;
    border: 1px solid #fff;
    padding: 10px 15px;
    color: #fff;
    margin-top: 5px;
}

.portfolio-item a:hover {
    background: #fff;
    color: #333;
}

.project-4-col .portfolio-item p {
    font-size: 12px;
    margin: 10px 10px 15px 10px;
}

.project-4-col .portfolio-item h4 {
    font-size: 14px;
}

.project-4-col .portfolio-item a {
    padding: 5px 10px;
    font-size: 13px;
}

.project-2-col .portfolio-item p {
    margin: 30px 30px 40px 30px;
}

.project-2-col .portfolio-item h4 {
    padding-top: 25px;
}

.portfolio-item .figure-caption {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.portfolio-item:hover .figure-caption {
    opacity: 1;
    animation: pulse;
    -webkit-animation: pulse;
    animation-duration: 300ms;
    -webkit-animation-duration: 300ms;
}






/**** Start Call To Action Section ****/

.call-to-action {
    background-image: url(../images/parallax/parallax.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.overlay {
    padding-top: 30px;
    padding-bottom: 50px;
}

.call-to-action h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.call-to-action p {
    color: #fff;
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
    padding-top: 10px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.call-to-action a.custom-btn {
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    padding: 15px 35px;
    color: #666;
    background: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.call-to-action a.custom-btn:hover {
    background: none;
    border: 1px solid #fff;
    color: #fff;
}


/**** Start Latest News Section ****/

.latest-news {
    background: #fff;
    border: 1px solid #f1f1f1;
    margin-top: 30px;
    padding: 0 0 15px 20px;
}

.latest-post {
    padding-right: 20px;
}

.latest-post h4 {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.latest-post h4 a {
    font-size: 20px;
}

.latest-post p {
    padding-top: 10px;
    text-align: justify;
}

.latest-post .news-details {
    padding-top: 5px;
}

.latest-post a {
    color: #777;
    font-weight: 300;
}

.latest-post .news-details li {
    display: inline;
    padding-right: 10px;
}
.latest-post .news-details li i{
    padding-right: 5px;
}

.latest-post a.btn-primary:hover {
    color: #333 !important;
}

#latest-news .owl-buttons {
    position: absolute;
    right: 15px;
    top: -44px;
}

#latest-news .owl-buttons div {
    color: #333;
    background: none;
    padding: 0;
}


/**** Start Testimonial Section ****/

.testimonial-section {
    background: #fff;
    border: 1px solid #f1f1f1;
    padding: 0 20px 20px 20px;
    margin-top: 30px;
}


.testimonial-page {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #fff;
    border: 1px solid #f1f1f1;
    padding:20px;
}

.testimonial {
    text-align: center;
}
.testimonial img {
    width: 145px;
    height: auto;
    margin-left: 25%;
    padding-bottom: 5px;
    border-radius: 100%;
}



.testimonial h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
}

.testimonial p {
    text-align: justify;
}

#testimonials .owl-buttons {
    position: absolute;
    right: 0;
    top: -44px;
}

#testimonials .owl-buttons div {
    color: #333;
    background: none;
    padding: 0;
}



/**** Start Clients Section ****/

.clients-section {
    background: #fff;
    border: 1px solid #f1f1f1;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px 20px 20px;
}

#clients img {
    width: 160px;
    height: auto;
}


#clients .owl-buttons {
    position: absolute;
    right: 0;
    top: -44px;
}

#clients .owl-buttons div {
    color: #333;
    background: none;
    padding: 0;
}


/**** Start Footer Section ****/

.footer-section {
    background: #333;
    border: 1px solid #999;
    color: #999;
    padding: 0 20px 20px 20px;
    margin-top: 30px;
}

.footer-section h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 22px;
    padding-bottom: 10px;
    color: #fff;
}

.footer-address strong {
    font-weight: 500;
}

.footer-gallery li {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 32.3%;
}

.footer-gallery li img {
    width: 100%;
    height: auto;
}


.footer-link li {
    padding-bottom: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-link li:hover {
    padding-left: 5px;
}

.footer-link li a {
    color: #999;
}

.footer-link li a i {
    padding-right: 5px;
    font-size: 13px;
}

.footer-social li {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 20px;
}

.footer-social li a {
    padding: 8px 12px;
    font-size: 20px;
    color: #fff;
	-webkit-transition: all 0.3;
	-moz-transition: all 0.3;
	-o-transition: all 0.3;
	transition: all 0.3;
}

.footer-social li a:hover {
	background: transparent;
	border: 1px solid #fff;
}

.footer-social li a i {
    width: 15px;
    height: 15px;
}

.footer-social .btn-primary:hover {
    color: #fff !important;
    border-color: #fff;
}

.footer-section .navbar-form {
    padding-left: 0;
    padding-right: 0;
}

.footer-section .form-control {
    padding-right: 0;
    width: 158px;
    border-radius: 0;
}



/**** Start Copyright Section ****/

.copyright-section {
    background: #222;
    color: #999;
    padding: 20px;
    margin-bottom: 30px;
}

.design {
    text-align: right;
}




/**** Start Our Team Section ****/

.team-section {
    background: #fff;
    border: 1px solid #f1f1f1;
    padding: 0 20px 20px 20px;
    margin-top: 30px;
}


.team-section .nav-tabs.nav-justified > .active > a, 
.team-section .nav-tabs.nav-justified > .active > a:hover, 
.team-section .nav-tabs.nav-justified > .active > a:focus {
    border-radius: 0;
    border-left-color: transparent;
    color: #666;
    border-bottom-color: #ddd;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.team-section .nav-tabs.nav-justified > li {
    border-right: 1px solid #f1f1f1;
}
.team-section .nav-tabs.nav-justified > li:last-child {
    border-right: none;
}

.team-section .nav-tabs.nav-justified > li > a {
    padding: 15px;
    font-size: 18px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.team-section .nav-tabs.nav-justified > li > a:hover {
    border-radius: 0;
    color: #333;
}

.team-section .tab-content .tab-pane .our-team {
    padding-top: 20px;
}

.team-section .tab-content .tab-pane .team-member img{
    width: 99%;
    height: auto;
    text-align: center;
}

.team-member .team-details {
    position: absolute;
    top: 0;
    width: 99%;
    height: 100%;
    color: #fff;
    padding: 0 2px;
    opacity: 0;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.team-member:hover .team-details {
    opacity: 1;
    -webkit-animation: bounceIn;
    animation: bounceIn;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

.team-member .team-details h4 {
    padding-top: 30%;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}

.team-member .team-details li {
    display: inline-block;
    padding-top: 20px;
}

.team-member .team-details li a {
    padding: 8px 12px;
    background: #fff;
    color: #666;
    font-size: 16px;
}

.team-member .team-details li:hover a {
    background: transparent;
    border: 1px solid #ddd;
    color: #fff;
}




/**** Start Page Title Section ****/

.page-title {
    background: url(../images/breadcrumb.jpg) no-repeat;
    background-size: cover;
    margin-top: 30px;
}

.page-title-overlay {
    padding: 60px 20px;
    color: #fff;
}

.page-title-overlay h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.page-title .breadcrumb {
    position: absolute;
    right: 3%;
    top: 50%;
    background: none;
}

.page-title .breadcrumb a {
    color: #fff;
    font-size: 15px;
}

.page-title .breadcrumb .active {
    color: #333;
}




/**** Start About Us Page ****/

.about-slider {
    margin-top: 30px;
    background: #fff;
    padding: 25px 20px 22px 20px;
    border: 1px solid #f1f1f1;
}

.about-slider .owl-controls {
    margin-top: 0;
    position: absolute !important;
    left: 45%;
    bottom: 5%;
}

.welcome-text {
    margin-top: 30px;
    background: #fff;
    border: 1px solid #f1f1f1;
    padding: 0 20px 20px 20px;
}

.welcome-text p, .welcome-text-2 p {
    text-align: justify;
}

.welcome-text-2 {
    margin-bottom: 30px;
    background: #fff;
    border: 1px solid #f1f1f1;
    padding: 0 20px 20px 20px;
}

.welcome-text-2 ol {
    padding-left: 20px;
}

.welcome-text-2 ol li {
    padding-bottom: 10px;
}


.about-text {
    background: #fff;
    border: 1px solid #f1f1f1;
    padding: 0 20px 20px 20px;
    margin-top: 30px;
}

.about-text p {
    text-align: justify;
}

.about-text img {
    width: 500px;
    height: auto;
    padding-right: 15px;
    padding-bottom: 10px;
}



/*-----------------------------------------*/
/* Start Progress Bar Section
/*-----------------------------------------*/


.skill-shortcode {
    background: #fff;
    border: 1px solid #f1f1f1;
    padding: 0 20px 22px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* progress bar */

.skill p {
  margin-bottom:10px;
    color: #888;

}

.progress {
  overflow: visible;
  height: 25px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-bar {
  float: left;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  transition: width 0.6s ease;
  position:relative;
}

 .progress-bar-span { 
 opacity:1;
 position:absolute;
 top:-5px;
 background:#ACB2B8;
 padding:3px 10px;
 color:#FFF;
 border-radius: 0px;
 right:0px;
    -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; 
 }

.skill:hover .progress-bar-span {
  opacity:1;
    -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}




/**** Start Accordion Section ****/

.accordion {
    background: #fff;
    border: 1px solid #f1f1f1;
    padding: 0 20px 20px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.panel-group .panel {
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.panel-default {
	border-color: #e8e8e8;
}

.panel-body {
	padding: 4px 15px 10px 15px;
}

.panel-heading {
	padding: 0;
    border-radius: 0;
}

.panel-title {
	font-size: 13px;
	font-weight: 600;
}

.panel-title a {
	position: relative;
    color: #fff;
	display: block;
	padding: 13px 12px;
    font-size: 14px;
	background-color: #fff;
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
  	-webkit-box-shadow: none;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.panel-title a.collapsed {
	color: #fff;
	
}

.panel-title a.collapsed:hover {
	color: #999;
}

.panel-title a .control-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -11px;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.panel-title a.collapsed .control-icon {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}

.panel-title a i {
	font-size: 1.2em;
    padding-right: 5px;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
	border-top: none;
}

.button-wisata {
    padding: 5px 0;
}



/**** Start Blog Page Section ****/

.blog-section {
    margin-top: 30px;
}

.blog-post {
    background: #fff;
    border: 1px solid #f1f1f1;
    margin-top: 30px;
    padding: 0 25px;
}

.blog-post .post-head {
	overflow: hidden;
	position: relative;
	margin-bottom: 16px;
}

.blog-post .post-head .thumb-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
	background-color: rgba(0,0,0,0);
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.blog-post .post-head:hover .thumb-overlay {
	background-color: rgba(255,255,255,0.4);
}

.blog-post .post-head .thumb-overlay i {
	font-size: 3em;
	color: rgba(0,0,0,0);
	position: absolute;
	left: 50%;
	top: 42%;
	margin-left: -27px;
	margin-top: -19px;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.blog-post .post-head:hover .thumb-overlay i {
	color: #444;
	top: 50%;
}

.blog-post .post-head img {
	max-width: 100%;
	height: auto;
	border-radius: 4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
     padding-top: 30px;
}

.blog-post .post-content {
	padding-left: 54px;
	position: relative;
    padding-bottom: 25px;
    border-bottom: 1px dotted #ccc;
    font-size: 13px;

}

.blog-post .post-conten {
    padding-left: 110px;
    position: relative;
    padding-bottom: 0px;
    

}


.blog-post .post-type {
	position: absolute;
	left: 0;
	top: 5px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background-color: #444;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.blog-post .post-tp {
    position: absolute;
    left: 0;
    top: 5px;
    width: 100px;
    height: 100px;
    line-height: 36px;
    text-align: center;
   /* background-color: #444;*/
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.blog-post .post-type i {
	font-size: 1.2em;
	color: #fff;
}

.blog-post.quote-post .post-type {
	top: 0;
}

.post-content h1 {
	margin-bottom: 4px;
}
.post-conten h1 {
    margin-bottom: 2px;
}

.post-content h1 a {
	color: #444;
    font-size: 18px;
	font-weight: 300;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.post-conten h1 a {
    color: #444;
    font-size: 20px;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}


.blog-post.quote-post .qoute-box {
	background: #444;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
	padding: 20px 25px;
	color: #fff;
	margin-bottom: 10px;
}

.blog-post.quote-post .qoute-box a {
	color: #999;
}

.blog-post.quote-post .qoute-box h1 {
	font-family: 'Open Sans', serif;
	font-size: 18px;
	line-height: 26px;
	font-style: italic;
	font-weight: 400;
	color: #fff;
	margin-bottom: 10px;
}

.blog-post.quote-post .qoute-box .qoute-author {
	margin-left: 5px;
}

.blog-post.quote-post .qoute-box .qoute-author:before, .blog-post.quote-post .qoute-box .qoute-author:after {
	content: " - "
}

.blog-post .post-slider {
	position: relative;
}

ul.post-meta {
	margin-bottom: 5px;
	margin-top: 0px;
    
}
ul.post-meta a {
 color: #4db6d4;
 font-size: 12px;
    
}


ul.post-meta li {
	display: inline-block;
}

ul.post-meta li:after {
	content: "|";
	margin: 0 5px 0 5px;

}

ul.post-meta li:last-child:after {
	content: "";
	margin: 0;
}

ul.post-meta li, ul.post-meta li a {
	color: #666;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.post-content p {
    margin-bottom: 15px;
    text-align: justify;
    font-size: 13px;
}

.post-conten p {
    margin-bottom: 15px;
    text-align: justify;
   font-size: 13px;
}


.sorting-info {
    margin-bottom: 10px;
}

input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

textarea {
    width: 40%;
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    width: 40%;
    padding: 12px 20px;
    margin: 12px 22px;
    display: inline-block;
    box-sizing: border-box;
}



/**** Start Sidebar Section ****/

.widget {

    margin-top: 30px;
    background: #fff;
    padding: 0 20px 20px 20px;
}

.widget .section-title {
    
}

.sidebar {
    margin-top: 0px;
}

.sidebar a {
	color: #888;
}

.sidebar .widget {
    overflow: hidden;
    margin-bottom: 50px;
}

.sidebar .widget ul {
	margin: 0;
}

.widget-search {
   
    padding-top: 10px;
}

.widget-search input[type="search"] {
    position: relative;
	margin: 0;
	float: left;
	height: 37px;
	line-height: 37px;
	width: calc(100% - 38px);
	border-right: none;
	border-radius: 2px 0 0 2px;
	-webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
}

.widget-search .search-btn {
	display: inline-block;
	width: 38px;
	height: 37px;
	border: none;
	color: #fff;
	font-size: 1.2em;
	line-height: 36px;
	text-align: center;
	border-radius: 0 2px 2px 0;
	-webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.widget-search .search-btn:hover {
	background-color: #444;
}

.sidebar .widget h4 {
	text-transform: uppercase;
	padding-bottom: 8px;
    margin-bottom: 16px;
	font-size: 14px;
	font-weight: 500;
	position: relative;
}

.sidebar .widget h4 .head-line {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 50px;
	height: 2px;
	background-color: #ddd;
	margin: 0;
}

.widget-categories ul li a {
	padding: 8px 0;
    text-decoration: none;
    display: block;
	border-bottom: 1px solid #eee;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.widget-categories ul li:first-child a {
	padding-top: 0;
}

.widget-categories ul li a:hover {
	padding-left: 8px;
}

.sidebar .widget-popular-posts li {
	margin-bottom: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #eee;
}

.sidebar .widget-popular-posts li:last-child {
	margin: 0;
	padding: 0;
	border: none;
}

.sidebar .widget-popular-posts .widget-thumb {
	float: left;
	margin-right: 8px;
	border: 3px solid #eee;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.sidebar .widget-popular-posts .widget-thumb img {
	width: 65px;
	height: 65px;
	opacity: 1;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.sidebar .widget-popular-posts .widget-thumb:hover img {
	opacity: 0.7;
}

.sidebar .widget-popular-posts .widget-content h5 {
	font-size: 13px;
	line-height: 19px;
	margin-bottom: 2px;
	font-weight: 300;
    
}

.sidebar .widget-popular-posts .widget-content span {
	color: #bbb;
	font-size: 12px;
}

.sidebar .tagcloud a {
    display: inline-block;
    color: #888;
    font-size: 12px;
    padding: 4px 10px;
    background: #eee;
	margin-bottom: 4px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.sidebar .tagcloud a:hover {
    color: #fff;
}


.widget-search input[type="search"],
#contact-form input[type="text"],
#contact-form textarea,
#respond input[type="text"],
#respond textarea {
    color: #aaafb5;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    outline: none;
    width: 100%;
    padding: 7px 14px;
    display: block;
    margin-bottom: 10px;  
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.widget-search input[type="search"] {
    width: 80%;
}

.widget-search input[type="search"]:focus,
#contact-form input[type="text"]:focus,
#contact-form textarea:focus,
#respond input[type="text"]:focus,
#respond textarea:focus {
	border-color: #ddd;
	box-shadow: 0 0 3px #eee;
	-o-box-shadow: 0 0 3px #eee;
	-moz-box-shadow: 0 0 3px #eee;
  	-webkit-box-shadow: 0 0 3px #eee;
}

label {
	font-size: 13px;
	color: #aaa;
	font-weight: 300;
	cursor: pointer;
}

label .required {
	color: #ED2C3A;
	margin-left: 2px;
}





*------------------------------------------*/
/*		    09 - Single post Styles
/*------------------------------------------*/

.blog-page, .blog-post-page {
	padding-top: 5px;
}

.blog-post-page .blog-post {
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.blog-post-page ul.post-meta {
	margin-bottom: 12px;

    
}

.post-content h2 {
	font-weight: 500;
}
.post-conten h2 {
    font-weight: 500;
}

.post-bottom {
	padding: 20px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #f6f6f6;
}

.post-tags-list {
	float: right;
	padding-top: 6px;
}

.post-tags-list a {
	display: inline-block;
	color: #888;
	font-size: 12px;
	padding: 2px 8px;
	background: #eee;
	margin-bottom: 4px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.post-tags-list a:hover {
	color: #fff;
}

.post-share {
	float: left;
}

.post-share span {
	margin-right: 4px;
	font-size: 13px;
	color: #888;
}

.post-share a {
	display: inline-block;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.post-share a.facebook {
	background-color: #507CBE;
}

.post-share a.facebook:hover {
	background-color: #3E68A8;
}

.post-share a.twitter {
	background-color: #63CDF1;
}

.post-share a.twitter:hover {
	background-color: #36BFED;
}

.post-share a.gplus {
	background-color: #F16261;
}

.post-share a.gplus:hover {
	background-color: #EF4545;
}

.post-share a.linkedin {
	background-color: #90CADD;
}

.post-share a.linkedin:hover {
	background-color: #72BBD3;
}

.post-share a i {
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	display: block;
	color: #fff;
	font-size: 1em;
}

.blog-post .author-info {
	display: block;
	margin-bottom: 10px;
}

.blog-post .author-info .author-image {
	float: left;
}

.blog-post .author-info .author-image img {
	width: 70px;
	height: 70px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	border: 4px solid #eee;
}

.blog-post .author-info .author-bio {
	padding-left: 85px;
}

.blog-post .author-info h4 {
	margin-bottom: 4px;
    font-weight: 500;
}

.blog-post .author-info p:last-child {
	margin: 0;
}

#comments {
    background: #fff;
    border: 1px solid #f1f1f1;
    margin-bottom: 30px;
    padding: 20px;
}

#comments .comments-list {
	padding: 0;
	margin: 0 0 35px 0;
}

#comments .comments-title {
	font-weight: 500;
	margin-bottom: 20px;
}

#comments .comments-list li .comment-box {
	padding: 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	margin-bottom: 20px;
	border: 1px solid #e8e8e8;
	box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
	-o-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
  	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
}

#comments .comments-list li ul {
	padding-left: 80px;
}

#comments .avatar {
	float: left;
}

#comments .avatar img {
	width: 60px;
	height: 60px;
	padding: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	border: 1px solid #e8e8e8;
}

#comments .comment-content {
	padding-left: 72px;
}

#comments .comment-content .comment-meta {
	margin-bottom: 5px;
}

.comment-content .comment-meta span:after {
	content: "-";
	margin: 0 5px;
	font-weight: 100;
	color: #888;
}

.comment-content .comment-meta span:last-child:after {
	content: "";
	margin: 0;
}

.comment-content .comment-meta .comment-by {
	font-weight: 600;
	color: #444;
}

.comment-content .comment-meta .comment-date {
	color: #888;
}

#respond .respond-title {
	font-weight: 500;
	margin-bottom: 15px;
}



/**** Start 404 Page ****/


.not-found {
    background: #fff;
    border: 1px solid #f1f1f1;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding: 100px;
    font-family: 'Open Sans', sans-serif;
}

.not-found h1 {
    font-size: 150px;
    font-weight: 300;
    line-height: 170px;
    text-align: center;
}

.not-found h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 35px;
    line-height: 60px;
}



/**** Start Pricing Section ****/

.pricing-section {
    background: #fff;
    border: 1px solid #f1f1f1;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px 0 20px;
}

.pricing-table{
    text-align: center;
    border: 1px solid #f1f1f1;
    margin: 20px;
}

.pricing-section-2 {
    background: #fff;
    border: 1px solid #f1f1f1;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px 20px 20px;
}

.pricing-table-2 {
    text-align: center;
    border: 1px solid #f1f1f1;
}



.plan-name {
	padding: 15px 0;
	border-bottom: 1px solid #eee;
}

.plan-name h3 {
	font-weight: 300;
	color: #fff;
}

.plan-price {
	padding: 25px 0;
}

.plan-price .price-value {
	font-size: 38px;
	line-height: 40px;
	font-weight: 600;
	color: #444;
}

.plan-price .price-value span {
	font-size: 18px;
	font-weight: 300;
	line-height: 18px;
}

.plan-price .interval {
	line-height: 14px;
}

.plan-list li {
	padding: 13px;
	font-size: 14px;
	border-bottom: 1px solid #eee;
}

.plan-list li:first-child {
	border-top: 1px solid #eee;
}

.plan-signup {
	padding: 25px 0;
}

.plan-signup a {
	text-transform: uppercase;
    color: #fff;
}


.pricing .owl-buttons {
    position: absolute;
    right: 0;
    top: -44px;
}

.pricing .owl-buttons div {
    color: #333 !important;
    background: none !important;
    padding: 0 !important;
}






#map {
	position: relative;
	height: 450px;
	width: 100%;
}

.contact-section {
    background: #fff;
    border: 1px solid #f1f1f1;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 20px 20px 20px;
}

.contact-section strong {
    font-weight: 400;
}

.contact-section p {
    padding-bottom: 10px;
}


ul.icons-list {
	margin-bottom: 6px;
}

ul.icons-list li, ul.list-unstyled li {
	margin-bottom: 4px;
}

ul.icons-list li i {
	font-size: 14px;
	margin-right: 4px;
}


/**** Start Back To Top ****/

.back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
}

.back-to-top i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    text-align: center;
    background-color: #444;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}



/**** Start Color Switcher ****/


.colors-switcher {
    width:100px;
    padding:20px 18px 14px 20px;
    position:fixed;
    z-index:1993;
    top:90px;
    right:0;
    background-color:#fff;
    border-radius:2px 0 0 2px;
    border:1px solid rgba(0,0,0,.1);
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -ms-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
}
.colors-switcher > p {
    font-size: 11px;
    line-height: 0;
}
.colors-switcher #show-panel {
    position:absolute;
    left:-38px;
    top:15px;
    width:38px;
    height:38px;
    z-index:1992;
    display:block;
    background-color:#fff;
    border-radius:2px 0 0 2px;
    border:1px solid rgba(0,0,0,.1);
    border-right:none;
    cursor: pointer;
}
.colors-switcher #show-panel i {
    color: #3D3D3D;
    font-size: 20px;
    line-height: 38px;
    margin-left: 15px;
}
.colors-switcher .colors-list {
    margin:0;
    padding:0;
}
.colors-switcher .colors-list li {
    float:left;
    display:block;
    margin-bottom:2px;
    margin-right:6px;
}
.colors-switcher .colors-list li a {
    display:inline-block;
    width:24px;
    height:24px;
    border-radius:2px;
    transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    cursor: pointer;
}
.colors-switcher .colors-list li a:hover {
    box-shadow:inset 0 0 6px rgba(0,0,0,.4);
}
.colors-switcher .colors-list a.light-red {
    background-color:#FF432E;
}
.colors-switcher .colors-list a.blue{
    background-color:#28ABE3;
}
.colors-switcher .colors-list a.light-blue {
    background-color:#69D2E7;
}
.colors-switcher .colors-list a.green {
    background-color:#5BB12F;
}
.colors-switcher .colors-list a.black {
    background-color:#333;
}
.colors-switcher .colors-list a.yellow {
    background-color:#fed136;
}



/******* Style Loader *******/


#loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9999999999;
}

.spinner {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -40px;
	-webkit-animation: rotatee 2.0s infinite linear;
	animation: rotatee 2.0s infinite linear;
}

.dot1, .dot2 {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	border-radius: 100%;
	-webkit-animation: bouncee 2.0s infinite ease-in-out;
	animation: bouncee 2.0s infinite ease-in-out;
}

.dot2 {
	top: auto;
	bottom: 0px;
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes rotatee { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotatee {
	100% {
		transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes bouncee {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes bouncee {
	0%, 100% {
		transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
}

